.one {
    margin: 0;
 }
.frame{
    background-color: rgb(251, 204, 211);
}
.left{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding: 15px;
    border-bottom-style: dashed;
    border-width: 3px;
    
}


.pic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 5px;
    border-bottom-style: dashed;
    border-width: 3px;
    

    }
    .pic img{
        border-radius:25px;
        width:25%;
        height:75%;
        padding: 10px;
        
    }

.mediel{
    background-color: antiquewhite;
    
    }

.mediel1{
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    

}

.hover:hover{
    background-color: rgb(243, 196, 169);
    font-size: 24px;
    
    }
.model2{
    width: 60%;  
    margin: 0 auto; 
    font-size: 16px;
    padding: 10px;
    font-weight: normal;
    text-align: left;
    
    }